@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "ForgotPassword";
}

<h1 style="display: flex;justify-content: center;">Parolun Sıfırlanması</h1>

<hr />

    <div class="row">
        <div class="col-md-4 offset-4">
            @if (Model?.EmailSent == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>
                    Əgər bizdə qeydiyyatdan keçmisinizsə,
                    Qeydiyyatdan keçmiş e-mail ünvanınıza təsdiqlənmə linki
                    göndərdik. Zəhmət olmasa qeyd etdiyiniz e-mail ünvanını
                    yoxlayasınız
                    </p>
                </div>
            }
            else
            {
            <p style="font-size: 18px;">Sizə parol sıfırlama linkini göndərə bilmək üçün bizə e-poçt ünvanınız lazımdır.</p>
                <form class="pt-3" asp-action="ForgotPassword" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" placeholder="Email"/>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Submit</button>
                    </div>
                </form>
            }
            <div>
                <p>Back to  <a asp-action="Login" asp-controller="Account">Login</a></p>
            </div>
        </div>

    </div>

    x

