@model SlideImageUpdateModel
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update slide image</h4> <br /> <br /> <br />
                <img src="~/img/@Model.ImageUrl" style="height:150px" /> <br /> <br /> <br />
                <form class="forms-sample" method="post" asp-action="Update" enctype="multipart/form-data">
                    <div class="form-group">
                        <label asp-for="Image">Image</label>
                        <input asp-for="Image" class="form-control" placeholder="Name" accept="image/*">
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light" asp-action="Index">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
